In [22]:
import pandas as pd

In [23]:
file_url = "https://bit.ly/ds01-weight-history"
data = pd.read_csv('weight-history.csv')

In [24]:
data.index

RangeIndex(start=0, stop=9, step=1)

In [25]:
data.columns

Index(['회차', '이름', '측정일', '몸무게', '단위', '담당', '지점'], dtype='object')

In [26]:
data.shape

(9, 7)

In [27]:
data

   회차   이름         측정일   몸무게  단위   담당   지점
0   1  강성희  2019-01-01  76.4  kg  김지수   강남
1   2  강성희  2019-01-02  75.7  kg  김지수   강남
2   3  강성희  2019-01-03  76.0  kg  김지수   강남
3   4  강성희  2019-01-04   NaN  kg  최재우  여의도
4   5  강성희  2019-01-05  76.2  kg  김지수  강남구
5   6  강성희  2019-01-06  75.7  kg  최재우  여의도
6   7  강성희  2019-01-07   NaN  kg  최재우  여의도
7   8  강성희  2019-01-08   NaN  kg  김민철  여의도
8   9  강성희  2019-01-09  75.0  kg  김민철  여의도

In [28]:
data.head(5)

   회차   이름         측정일   몸무게  단위   담당   지점
0   1  강성희  2019-01-01  76.4  kg  김지수   강남
1   2  강성희  2019-01-02  75.7  kg  김지수   강남
2   3  강성희  2019-01-03  76.0  kg  김지수   강남
3   4  강성희  2019-01-04   NaN  kg  최재우  여의도
4   5  강성희  2019-01-05  76.2  kg  김지수  강남구

In [29]:
data.tail(5)

   회차   이름         측정일   몸무게  단위   담당   지점
4   5  강성희  2019-01-05  76.2  kg  김지수  강남구
5   6  강성희  2019-01-06  75.7  kg  최재우  여의도
6   7  강성희  2019-01-07   NaN  kg  최재우  여의도
7   8  강성희  2019-01-08   NaN  kg  김민철  여의도
8   9  강성희  2019-01-09  75.0  kg  김민철  여의도